
<p>
  {{title}}
</p>
<table>
  <thead>
    <th>
      #id
    </th>
    <th>
      Course Name
    </th>
  </thead>
  <tbody>
    <tr *ngFor='let Course of Courses'>
      <td>{{Course.id}}</td>
      <td>{{Course.name}}</td>
    </tr>
  </tbody>
</table>
<table>
  <tr>
    <td [attr.colSpan]='colSpan'></td>
  </tr>
</table>
<h2>{{binding}} </h2> 
<h2 [textContent]='binding'></h2>

<img src="{{imageUrl}}" />
<img [src]="imageUrl" /> 
<div>
<button type='button' class="btn btn-primary">tambah</button>
<button type="button" class="btn btn-primary" [style.backgroundColor]= "isActive?'blue':'white'">Style</button>
</div>
<button type="button" class="btn btn-default"(click)="onSave($event)">Button</button>
<div (click) = "onDivClick($event)">
  <button type = "button" class = "btn btn-danger" (click) = "onSave($event)"> Button </button>
  </div>
  <!-- <input type="text" [value]="nama" (keyup.enter)="nama = $event.target.value;onKeyUp()"> -->
<input type="text" [(ngModel)] = "nama" (keyup.enter)="onKeyUp()">